<section class="benefits-page visually-hidden">benefits</section>
<section class="container benefits-container">
  <h2 class="benefits-title">
    <span class="benefits-span">BENEFITS</span> OF WORKING WITH ME
  </h2>
  <ul class="benefits-team">
    <li class="benefits-li">
      <div class="benefits-icon-box">
        <svg class="benefits-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-user"></use>
        </svg>
      </div>
      <h4 class="benefits-subtitle">Expertise</h4>
      <p class="benefits-text text1">
        With extensive experience in development, I have a deep understanding of
        programming and website development.
      </p>
    </li>
    <li class="benefits-li">
      <div class="benefits-icon-box">
        <svg class="benefits-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-message-chat-circle"></use>
        </svg>
      </div>
      <h4 class="benefits-subtitle">Communication</h4>
      <p class="benefits-text text2">
        Understanding your needs and wants is my priority and I am always
        available for discussions and open to corrections.
      </p>
    </li>
    <li class="benefits-li">
      <div class="benefits-icon-box">
        <svg class="benefits-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-brush"></use>
        </svg>
      </div>
      <h4 class="benefits-subtitle">Art</h4>
      <p class="benefits-text text3">
        Thanks to my creative nature, I am ready to accept challenges and help
        you bring your ideas to life.
      </p>
    </li>
    <li class="benefits-li">
      <div class="benefits-icon-box">
        <svg class="benefits-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-hourglass"></use>
        </svg>
      </div>
      <h4 class="benefits-subtitle">Urgent execution</h4>
      <p class="benefits-text text4">
        I understand how important time is to you. Ready to work quickly and
        efficiently, without reducing the quality of work.
      </p>
    </li>
  </ul>
</section>
