<section class="faq-page">
  <div class="accordion-container container">
    <div class="faq-decor-container"></div>
    <div class="faq-decor">
      <h2 class="faq-title">
        Frequently Asked
        <span class="accent-title">Questions</span>
      </h2>
    </div>
    <div class="accordion js-accordion">
      <div class="accordion-item js-accordion-item">
        <h3 class="accordion-subtitle js-accordion-subtitle">
          What programming languages are most often used in your project?
          <svg class="icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-sign"></use>
          </svg>
        </h3>
        <div class="accordion-body js-accordion-body">
          <p class="accordion-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>
      <div class="accordion-item js-accordion-item">
        <h3 class="accordion-subtitle js-accordion-subtitle">
          What are the deadlines for the project?
          <svg class="icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-sign"></use>
          </svg>
        </h3>
        <div class="accordion-body js-accordion-body">
          <p class="accordion-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </div>
      <div class="accordion-item js-accordion-item">
        <h3 class="accordion-subtitle js-accordion-subtitle">
          What payment methods do you accept?
          <svg class="icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-sign"></use>
          </svg>
        </h3>
        <div class="accordion-body js-accordion-body">
          <p class="accordion-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </div>
      <div class="accordion-item js-accordion-item">
        <h3 class="accordion-subtitle js-accordion-subtitle">
          How can I contact you?
          <svg class="icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-sign"></use>
          </svg>
        </h3>
        <div class="accordion-body js-accordion-body">
          <p class="accordion-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>
      <div class="accordion-item js-accordion-item">
        <h3 class="accordion-subtitle js-accordion-subtitle">
          Do you provide advice or support?
          <svg class="icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-sign"></use>
          </svg>
        </h3>
        <div class="accordion-body js-accordion-body">
          <p class="accordion-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </div>
      <div class="accordion-item js-accordion-item">
        <h3 class="accordion-subtitle js-accordion-subtitle">
          What does the process of developing a software product look like?
          <svg class="icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-sign"></use>
          </svg>
        </h3>
        <div class="accordion-body js-accordion-body">
          <p class="accordion-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
