<footer class="footer-page">
  <div class="container footer-container">
    <div class="footer-container-logo">
      <a class="footer-logo" href="../index.html"
        >Lloyd<span class="footer-logo-jefferson">Jefferson.</span></a
      >
      <ul class="footer-list">
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            rel="noopener noreferrer"
            >Linkedin</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-copyright">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
