<header class="header-page">
  <div class="container header-container">
    <div class="header-menu">
      <a href="../index.html" class="header-logo"
        >Lloyd<span>Jefferson.</span></a
      >

      <nav class="header-nav">
        <label for="switch" class="switch">
          <input type="checkbox" name="switch" id="switch" />
          <span class="slider round"></span>
        </label>

        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="" class="header-menu-link">About me</a>
          </li>
          <li class="header-menu-item">
            <a href="" class="header-menu-link">Projects</a>
          </li>
          <li class="header-menu-item">
            <a href="" class="header-menu-link">Contacts</a>
          </li>
        </ul>
      </nav>

      <button class="mob-menu-btn js-menu-open">
        <span class="menu-btn"></span>
      </button>
    </div>

    <div class="mob-menu container js-mobile-menu">
      <nav class="mobile-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a href="" class="mob-menu-link">About me</a>
          </li>
          <li class="mob-menu-item">
            <a href="" class="mob-menu-link">Projects</a>
          </li>
          <li class="mob-menu-item">
            <a href="" class="mob-menu-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
