<section class="hero-page" id="hero">
  <div class="container hero-container">
    <div class="hero-wrapper-left">
      <h1 class="hero-title">Hello, I am <span>Fullstack developer</span></h1>
      <a href="#work-together" class="hero-btn"
        ><svg class="hero-btn-ico" width="22" height="22">
          <use href="/img/symbol-defs.svg#icon-arrow-btn"></use>
        </svg>
        Order the project<span class="hero-btn-span"></span>
      </a>
    </div>

    <div class="hero-wrapper-right">
      <img
        class="hero-img"
        src="/img/photo/photo_hero_desktop.jpg"
        alt="Photo developer"
        srcset="/img/photo/photo_hero_desktop@2x.jpg 2x"
        width="592"
        height="444"
      />
      <p class="hero-text">
        I work with people all over the world to create
        <span>impressive</span> and <span>functional websites</span> that
        reflect each client’s unique personality.
      </p>
    </div>
  </div>
  <aside class="hero-social-wrapper">
    <div class="container">
      <ul class="hero-social-list">
        <li class="hero-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="hero-social-link"
            target="_blank"
            rel="noreferrer noopener"
            >Instagram</a
          >
        </li>
        <li class="hero-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="hero-social-link"
            target="_blank"
            rel="noreferrer noopener"
            >Facebook</a
          >
        </li>
        <li class="hero-social-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            class="hero-social-link"
            target="_blank"
            rel="noreferrer noopener"
            >Linkedin</a
          >
        </li>
        <li class="hero-social-item">
          <a
            href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            class="hero-social-link"
            target="_blank"
            rel="noreferrer noopener"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </aside>
</section>
