<section class="my-projects-page">
  <div class="container my-project-container">
    <h2 class="titel-my-projects" id="my-projects">MY <span class="green">PROJECTS</span></h2>
    <ul>
      <li class="li-class-project">
        <img
          src="/img/my-projects/project_1.jpg"
          alt="1"
          width="320"
          srcset="/img/my-projects/project_1@2x.jpg 2x"
          class="project-img"
        />
        <p class="small-desc">React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">POWER PULSE WEBSERVICE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project">
        <img
          src="/img/my-projects/project_2.jpg"
          alt="2"
          width="300"
          srcset="/img/my-projects/project_2@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">STARLIGHT STUDIO LANDING PAGE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project">
        <img
          src="/img/my-projects/project_3.jpg"
          alt="3"
          width="300"
          srcset="/img/my-projects/project_3@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">ENERGY FLOW WEBSERVICE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <img
          src="/img/my-projects/project_4.jpg"
          alt="4"
          width="300"
          srcset="/img/my-projects/project_4@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">FRUITBOX ONLINE STORE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <img
          src="/img/my-projects/project_5.jpg"
          alt="5"
          width="300"
          srcset="/img/my-projects/project_5@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">CHEGO JEWELRY WEBSITE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <img
          src="/img/my-projects/project_6.jpg"
          alt="6"
          width="300"
          srcset="/img/my-projects/project_6@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">MIMINO WEBSITE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <img
          src="/img/my-projects/project_7.jpg"
          alt="7"
          width="300"
          srcset="/img/my-projects/project_7@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">VYSHYVSNKA VIBES LANDING PAGE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <img
          src="/img/my-projects/project_8.jpg"
          alt="8"
          width="300"
          srcset="/img/my-projects/project_8@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">GREEN HARVEST ONLINE STORE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <img
          src="/img/my-projects/project_9.jpg"
          alt="9"
          width="300"
          srcset="/img/my-projects/project_9@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">WALLET WEBSERVICE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <img
          src="/img/my-projects/project_10.jpg"
          alt="10"
          width="300"
          srcset="/img/my-projects/project_10@2x.jpg 2x"
          class="project-img"
        />
        <p>React, JavaScript, Node JS, Git</p>
        <div class="box-button">
          <h3 class="project-subtitle">ENGLISH EXCELLENCE WEBSERVICE</h3>
          <a class="projects-button" href="https://github.com/Oksana-2024/project-SurvivorsTeam13"
            target="_blank">
            VISIT
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button class="load-container line" id="loadMore" type="button">
      LOAD MORE
    </button>
    <div class="decor-line"></div>
  </div>
</section>
