<section class="reviews-page">
  <div class="container container-reviews">
    <h2 class="title-reviews">reviews</h2>
    <div class="reviews-swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-btn">
        <button class="left-arrow" type="button" disabled>
          <svg class="reviews-icon" width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-arrow-narrow"></use>
          </svg>
        </button>
        <button class="right-arrow" type="button">
          <svg class="reviews-icon" width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-arrow-narrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>