<section id="tech-skills" class="tech-skills-section section">
  <div class="tech-skills-container">
    <h2 class="visually-hidden">Technologiess</h2>

    <div class="even-container">
      <div class="even-line">
        <ul class="even-list">
          <li>Java Script</li>
          <li>React</li>
          <li>Node.js</li>
          <li>React Native</li>
          <li>Typescript</li>
          <li>Html/Css</li>
          <li>React Native</li>
          <li>Typescript</li>
          <li>Html/Css</li>
        </ul>
        <ul class="even-list">
          <li>Java Script</li>
          <li>React</li>
          <li>Node.js</li>
          <li>React Native</li>
          <li>Typescript</li>
          <li>Html/Css</li>
          <li>React Native</li>
          <li>Typescript</li>
          <li>Html/Css</li>
        </ul>
      </div>
    </div>

    <div class="moving-container uneven-container">
      <div class="uneven">
        <ul class="uneven-list">
          <li class="uneven-item">Java Script</li>
          <li class="uneven-item">React</li>
          <li class="uneven-item">Node.js</li>
          <li class="uneven-item">React Native</li>
          <li class="uneven-item">Typescript</li>
          <li class="uneven-item">Html/Css</li>
          <li class="uneven-item">React Native</li>
          <li class="uneven-item">Typescript</li>
          <li class="uneven-item">Html/Css</li>
        </ul>
        <ul class="uneven-list">
          <li class="uneven-item">Java Script</li>
          <li class="uneven-item">React</li>
          <li class="uneven-item">Node.js</li>
          <li class="uneven-item">React Native</li>
          <li class="uneven-item">Typescript</li>
          <li class="uneven-item">Html/Css</li>
          <li class="uneven-item">React Native</li>
          <li class="uneven-item">Typescript</li>
          <li class="uneven-item">Html/Css</li>
        </ul>
      </div>
    </div>
  </div>
</section>
