:root {
  /* color */
  --black: #292929;
  --accent-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --hover-grey: #bbb;
  --light-accent: #bcdfd1;
  --hover-green: #009156;
  --black-dt: #1e2023;
  --accent-green-dt: #14c57c;
  --charcoal-dt: #2a2d32;
  --hover-grey-dt: #3b3f45;
  --dark-accent-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;
  /* fonts */
  --first-font-family: 'Poppins', sans-serif;
  --second-font-family: 'Impact', sans-serif;
  /* animation */
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
  /* light theme */
  --text-color: var(--black); /* колір тексту */
  --accent-color: var(--accent-green); /* додатковий колір тексту */
  --main-background: var(--white); /* основний фон */
  --second-background: var(--light-accent);
  --third-background: var(--light-grey);
  --btn-hero-background: var(--light-accent);
  --btn-hero-hover: var(--accent-green);
  --second-hover: var(--hover-green);
  --third-hover: var(--hover-grey);
  --tech-skills-background: var(--light-accent);
}

/*  base css rules */
body,
h3,
p,
a,
button,
input,
textarea {
  font-family: var(--first-font-family);
  color: var(--text-color);
}

body {
  background-color: var(--main-background);
}

h1,
h2 {
  font-family: var(--second-font-family);
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
