.benefits-container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.benefits-title {
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 320px;
}
.benefits-span {
  color: var(--accent-color);
}
.benefits-icon {
  fill: var(--fill-icon);
}
.benefits-icon-box {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background-color: var(--icon-background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
}
.benefits-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.benefits-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .benefits-container {
    padding-top: 124px;
    padding-bottom: 124px;
  }
  .benefits-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    padding-bottom: 0;
  }
  .benefits-team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'empty right'
      'left bottom';
    gap: 32px;
  }
  .benefits-li:nth-child(1) {
    grid-area: right;
  }
  .benefits-li:nth-child(2) {
    grid-area: left;
  }
  .benefits-li:nth-child(3) {
    grid-area: bottom;
  }
  .benefits-li:nth-child(4) {
    grid-column: span 2;
    width: 360px;
  }
}
@media screen and (min-width: 1280px) {
  .benefits-container {
    padding-top: 164px;
    padding-bottom: 164px;
  }
  .benefits-title {
    max-width: 700px;
    position: relative;
    top: 70px;
    padding: 0;
  }
  .benefits-container {
    background-image: url(/img/decor/decor_benefits_desktop.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 694px -3px;
  }
  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .benefits-container {
      background-image: url(/img/decor/decor_benefits_desktop.png);
    }
  }
  .benefits-team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 32px;
  }
  .benefits-li:nth-child(1) {
    grid-column: 3;
    grid-row: 1;
  }
  .benefits-li:nth-child(2),
  .benefits-li:nth-child(3),
  .benefits-li:nth-child(4) {
    grid-column: span 1;
    grid-row: 2;
  }
}
