.header-page {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.logo-green {
  color: var(--accent-green);
}

.header-nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: none;
}

.nav-link,
.mobile-menu-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 1s var(--transition);
}

.nav-link:hover,
.mobile-menu-link:hover {
  color: var(--accent-color);
}

.hero-text,
.hero-title,
.header-logo {
  transition: color 1s var(--transition);
}

.hero-page {
  transition: background-image 1s var(--transition);
}

.menu-baget {
  background-color: transparent;
}

.icon-baget {
  fill: var(--text-color);
}

.menu-close-icon {
  stroke: var(--text-color);
  z-index: 100;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 1s ease, transform 1s ease;
  background: var(--main-background);
  transition: transform 1s var(--transition);
  z-index: 98;
  background-image: url(/img/decor/decor_mob_menu.png);
  background-position: 0 96px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

@media screen and (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: url(/img/decor/decor_mob_menu@2x.png);
    background-size: 320px 704px;
  }
}

.mobile-menu-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 276px;
}

.mobile-menu-close {
  background-color: transparent;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.menu-logo {
  display: block;
}

@media screen and (min-width: 768px) {
  .header-page {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .mobile-menu {
    display: none;
  }

  .header-logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  }

  .menu-baget {
    display: none;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    gap: 40px;
  }
}
