.tech-skills-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.tech-skills-container {
  padding: 0;
  margin: 0;
}

.tech-skills-section {
  overflow: hidden;
}
.even-line {
  display: flex;
  background-color: var(--accordeon-background);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.even-list {
  display: flex;
  animation: marque 50s linear infinite;
}
.even-list li {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 32px 24px;
  white-space: nowrap;
  position: relative;
}
.even-list li::after {
  content: '';
  position: absolute;
  top: 45%;
  border-radius: 20%;
  left: -5px;
  width: 8px;
  height: 8px;
  background-color: var(--point-tech-skill);
}
.uneven {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: var(--third-background);
  transform: rotate(2deg);
  z-index: 0;
}
.uneven-list {
  display: flex;
  animation: marquee 50s linear infinite;
  color: var(--accet-green);
  position: relative;
}
.uneven-item {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 32px 24px;
  white-space: nowrap;
  position: relative;
  color: var(--tech-skills-color);
}
.uneven-item::after {
  content: '';
  position: absolute;
  top: 45%;
  border-radius: 20%;
  left: -5px;
  width: 8px;
  height: 8px;
  background-color: var(--text-color);
}
@keyframes marquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes marque {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .uneven-item,
  .even-list li {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    padding: 40px 24px;
  }
  .tech-skills-section {
    padding-top: 124px;
  }
}
@media screen and (min-width: 1280px) {
  .tech-skills-section {
    padding-top: 164px;
  }
}
